@import 'variables';

.div_cart {
    position: relative;
    display: flex;
    .cart_notif--notification {
        display: none;
        position: absolute;
        height: 15px;
        width: 15px;
        top: -7px;
        right: -7px;
        background-color: $primary;
        color: $black;
        border-radius: 15px;
        text-align: center;
        line-height: .7rem;
    }
    &:hover{
        cursor: pointer;
    }
}