@import 'variables';
@import 'mixins';

.mainXbox {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    font-size: 1.5rem;
}

.-enable {
    display: flex !important;
    flex-direction: column;
}

.filtro {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    margin-bottom: 20px;

    &-dropdown {
        cursor: pointer;

        &_orden {
            padding: 5px;

            &:hover {
                transform: scale(1.1);
                outline: 1.5px solid $secondary;
                color: $primary;
                border-radius: 10px;
            }
        }

        &_categorias {
            display: none;
            margin-left: 15px;

            &span {}

            :hover {
                @include hoverPrincipal;
            }
        }

    }
}

.form__group {
    position: relative;
    padding: 15px 0 20px;
    width: 50%;
    align-self: center;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid $white;
    outline: 0;
    font-size: 1.3rem;
    color: $xbox;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown~.form__label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $white;
    width: 100%;
}

.form__field:focus {
    ~.form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: $primary;
        font-weight: 700;
    }

    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, $primary, $secondary);
    border-image-slice: 1;
}

.form__field {

    &:required,
    &:invalid {
        box-shadow: none;
    }
}

.card {
    background: none;
    box-shadow: none;

    & p {
        margin: 0;
        text-align: center;
    }

    &_details_button {
        background-color: $orange1;
        color: $white;
        border-radius: 10px;
        border: none;
        width: 200px;
        height: 40px;
        font-size: large;
    }

    &_details_button:hover {
        background-color: $primary;
        color: $black;
    }
}


.pages {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    & span {
        margin: 5px;
        &:hover {
            @include hoverPrincipal;
        }
    }
}