/* sass --watch sass/base.scss:base.css */
/* sass ./sass/base.scss ./sass/base.css --watch */
.div_cart {
  position: relative;
  display: flex;
}
.div_cart .cart_notif--notification {
  display: none;
  position: absolute;
  height: 15px;
  width: 15px;
  top: -11px;
  right: -11px;
  background-color: #ffce2b;
  color: #222222;
  border-radius: 15px;
  text-align: center;
  line-height: 0.7rem;
}
.div_cart:hover {
  cursor: pointer;
}

.mainXbox {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  font-size: 1.5rem;
}

h1 {
  color: #00c040;
  text-align: center;
  font-weight: 500;
}

.-enable {
  display: flex !important;
  flex-direction: column;
}

.filtro {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  margin-bottom: 20px;
}
.filtro-dropdown {
  cursor: pointer;
}
.filtro-dropdown_orden {
  padding: 5px;
}
.filtro-dropdown_orden:hover {
  transform: scale(1.1);
  outline: 1.5px solid #f0dd5e;
  color: #ffce2b;
  border-radius: 10px;
}
.filtro-dropdown_categorias {
  display: none;
  margin-left: 15px;
}
.filtro-dropdown_categorias :hover {
  transform: scale(1.1);
  color: #ffce2b;
}

.form__group {
  position: relative;
  padding: 15px 0 20px;
  width: 50%;
  align-self: center;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #fff;
  outline: 0;
  font-size: 1.3rem;
  color: #00c040;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #fff;
  width: 100%;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #ffce2b, #f0dd5e);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #ffce2b;
  font-weight: 700;
}

.form__field:required, .form__field:invalid {
  box-shadow: none;
}

.-disable {
  display: none;
}

.card {
  background: none;
  box-shadow: none;
}
.card p {
  margin: 0;
  text-align: center;
}
.card_details_button {
  background-color: #E47200;
  color: #fff;
  border-radius: 10px;
  border: none;
  width: 200px;
  height: 40px;
  font-size: large;
}
.card_details_button:hover {
  background-color: #ffce2b;
  color: #222222;
}

.pages {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.pages span {
  margin: 5px;
}
.pages span:hover {
  transform: scale(1.1);
  color: #ffce2b;
}

.modal_cart.open {
  right: 2%;
}

.modal_cart {
  height: 90%;
  width: 400px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px;
  position: fixed;
  top: 55px;
  right: -100%;
  z-index: 1002;
  background-color: #ffce2b;
  color: #222222;
  transition: all 0.5s ease;
  overflow-y: auto;
  /* &::-webkit-scrollbar {
      width: 50px;
  }
  &::-webkit-scrollbar-track {
      background: orange;
  }

  &::-webkit-scrollbar-thumb {
      background-color: blue;
      border-radius: 20px;
      border: 3px solid orange;
  } */
}
.modal_cart-title {
  font-weight: 500;
  padding: 15px;
  border-bottom: 1px solid #222222;
}
.modal_cart_checkout {
  padding: 10px;
  /* &-full {
      display: none;
  } */
}
.modal_cart_checkout-empty {
  display: block;
  font-weight: 500;
  padding-top: 35px;
  text-align: center;
}
.modal_cart_checkout-fullBtn {
  border-top: 1px solid #222222;
  display: none;
}
.modal_cart_details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.modal_cart_img {
  width: 70px;
  border-radius: 5px;
}
.modal_cart_info {
  width: 100%;
  margin: 10px;
}
.modal_cart_info p {
  margin: 0px;
}
.modal_cart_cantidad {
  cursor: pointer;
}
.modal_cart_cantidad :hover {
  transform: scale(1.2);
  color: #00c040;
}
.modal_cart_button_delete {
  width: 50px;
  height: 50px;
  color: #222222;
  text-align: center;
  line-height: 3rem;
  cursor: pointer;
}
.modal_cart_button_delete:hover {
  transform: scale(1.2);
  color: #00c040;
}
.modal_cart_button_checkout {
  width: 100%;
  border-radius: 10px;
  background-color: #222222;
  color: #fff;
  border: none;
}
.modal_cart_button_checkout:hover {
  background-color: #E47200;
  color: #222222;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 20px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -26px;
  left: 0;
  color: #ffce2b;
  font-size: 16px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffce2b;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-box a:hover {
  background: #ffce2b;
  color: #222222;
  border-radius: 5px;
}

.footerLog {
  position: absolute;
}

/*# sourceMappingURL=base.css.map */
